.text-warning {
    color: #ff0000 !important;
}
.bg-warning {
    background: #ff0000 !important;
}
::selection {
    background-color: #ff0000;
    color: white;
}
body {
    background: #040404;
    min-height: 100vh;
    overflow-x: hidden;
}
.vertical-nav {
    width: 20rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    z-index: 3;
    background: rgba(255, 255, 255, 0.9);
}
#navbar {
    background-color: white;
    position: sticky;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}
.page-content {
    width: 100%;
    transition: all 0.4s;
}
#sidebar.active {
    margin-left: -20rem;
}

#content.active {
    width: 100%;
    margin: 0;
}
hr {
    width: 75%;
}
.text-uppercase {
    letter-spacing: 0.1em;
}

.text-gray {
    color: #aaa;
}
a {
    color: black;
}
#navbarDropdownMenuLink {
    cursor: pointer;
}
.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}
.big-title {
    margin-bottom: 3em;
    word-wrap: break-word;
}

.big_title {
    color: #212121;
    font-size: 3.5em;
    font-weight: 700;
    margin: 0 auto;
    text-shadow: 2px 2px 2px rgba(179, 171, 171, 0.8);
    -webkit-text-shadow: 2px 2px 2px rgba(179, 171, 171, 0.8);
    -moz-text-shadow: 2px 2px 2px rgba(179, 171, 171, 0.8);
    -o-text-shadow: 2px 2px 2px rgba(179, 171, 171, 0.8);
    -ms-text-shadow: 2px 2px 2px rgba(179, 171, 171, 0.8);
    letter-spacing: 1px;
    position: relative;
}

.title-para {
    color: #34bf49;
    display: block;
    margin: 0.5em 0 1em;
    letter-spacing: 6px;
    font-size: 1.1em;
}

.big_title:after {
    content: "";
    background: #f23232;
    height: 4px;
    width: 27%;
    position: absolute;
    top: 160%;
    left: 36%;
}
.MultiCarousel {
    display: inline;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}
.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}
.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}
.MultiCarousel .MultiCarousel-inner .item > img {
    text-align: center;
    padding: 0px;
    margin: 0px;
    height: 25vh;
    width: 20vw;
}
.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
    position: absolute;
    top: calc(50% - 70px);
}
.MultiCarousel .leftLst {
    left: -10px;
}
.MultiCarousel .rightLst {
    right: -10px;
}

.over,
.over {
    pointer-events: none;
    border: 0;
    color: gray;
}

.box {
    position: relative;
    text-align: center;
}
.box .box-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease 0s;
}
.box:hover .box-content {
    background-color: rgba(255, 242, 242, 0.8);
}
.box .box-content:after,
.box .box-content:before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.6s ease 0.3s;
}
.box .box-content:before {
    border-left: 1px solid #040404;
    border-top: 1px solid #040404;
    top: 19px;
    left: 19px;
}
.box .box-content:after {
    border-bottom: 1px solid #040404;
    border-right: 1px solid #040404;
    bottom: 19px;
    right: 19px;
}
.box:hover .box-content:after,
.box:hover .box-content:before {
    opacity: 1;
    transform: scale(1);
}
.box .title {
    font-size: 22px;
    color: #000;
    margin: 0;
    position: relative;
    top: 0;
    opacity: 0;
    transition: all 1s ease 10ms;
}
.box:hover .title {
    top: 39%;
    opacity: 1;
    transition: all 0.5s cubic-bezier(1, -0.53, 0.405, 1.425) 10ms;
}
.box .title:after {
    content: "";
    width: 0;
    height: 1px;
    background: #040404;
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 1s ease 0s;
}
.box:hover .title:after {
    width: 80%;
    transition: all 1s ease 0.8s;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}
input:focus {
    outline: none !important;
    box-shadow: none !important;
}
.preview-thumbnail img {
    width: 100%;
    height: 10vh !important;
    margin-top: 1rem;
    cursor: pointer;
}
.preview-pic {
    text-align:center;
}
.preview-pic img {
    max-width: 100%;
    height: 100%;
}
.title {
    word-wrap: break-word;
    font-size: 1.5em;
}
.table-Products img {
    height: 32vh !important;
}
ul {
    list-style-type: none !important;
}
.star-wishlist {
    color: #9c47fc;
    display: block;
    background: radial-gradient(circle, rgba(243,131,180,1) 0%, rgba(0,100,217,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
    .star-wishlist:hover {
        color: #9c47fc;
        display: block;
        background: radial-gradient(circle, rgba(255,103,103,1) 0%, rgba(255,140,140,1) 57%, rgba(222,33,255,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
    }
.imagesearch img {
    height: 50px !important;
    padding: 0 !important;
    margin: 0 !important;
}
table {
    cursor: pointer;
}
div.prv {
    height: 70vh !important;
}
h2 {
    color: #000;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 30px 0 80px;
}
.pricetitle {
    color: #000;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 30px 0 80px;
}
.pricetitle b {
    color: #82c785;
}
h2 b {
    color: #ffc000;
}

h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 4px;
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    right: 0;
    bottom: -20px;
}

.card-Product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
}

.card-Product .img-wrap img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.card-Product {
    cursor: pointer !important;
}
.card-Product:hover .bottom-wrap {
    background: #f5f5f5 !important;
}
.card-Product:hover .info-wrap {
    background: #f5f5f5 !important;
}

.card-Product .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
    height: 180px;
}

.card-Product .bottom-wrap {
    padding: 16px;
    border-top: 1px solid #eee;
}

.label-rating {
    margin-right: 10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}
.add-to-cart:hover {
    filter:contrast(0.6);
}
.slidecontainer {
}

.sliderprice {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.sliderprice:hover {
    opacity: 1;
}

.sliderprice::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4caf50;
    cursor: pointer;
}

.sliderprice::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4caf50;
    cursor: pointer;
}
.orderclick,
.catclick {
    cursor: pointer !important;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #75d340;
    color: #fff;
    text-align: center;
    padding: 16px;
    position: fixed;
    z-index: 3;
    top: 50%;
    right: 5vw;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#snackbar2 {
    visibility: hidden;
    min-width: 250px;
    background-color: #ffc000;
    color: #fff;
    text-align: center;
    padding: 16px;
    position: fixed;
    z-index: 3;
    top: 50%;
    right: 5vw;
    font-size: 17px;
}

#snackbar2.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        right: 0;
        opacity: 0;
    }

    to {
        right: 5vw;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        right: 0;
        opacity: 0;
    }

    to {
        right: 5vw;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        right: 5vw;
        opacity: 1;
    }

    to {
        right: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        right: 5vw;
        opacity: 1;
    }

    to {
        right: 0;
        opacity: 0;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

    .form-container input[type=email], .form-container input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

        .form-container input[type=text]:focus, .form-container input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }
.rating-stars ul {
    list-style-type: none;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
}

    .rating-stars ul > li.star {
        display: inline-block;
    }

        .rating-stars ul > li.star > i.fa {
            font-size:1.5rem;
            color: #ccc; 
        }

        .rating-stars ul > li.star.hover > i.fa {
            color: #FFCC36;
        }

        .rating-stars ul > li.star.selected > i.fa {
            color: #FF912C;
        }

@media only screen and (max-width: 990px) {
    .Product-grid {
        margin-bottom: 30px;
    }

    .MultiCarousel .MultiCarousel-inner .item > img {
        height: 30vh !important;
        width: 60vw !important;
    }
    .cart-table table,
    .cart-table thead,
    .cart-table tbody,
    .cart-table th,
    .cart-table td,
    .cart-table tr {
        display: block;
        text-align: center !important;
    }

    .cart-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .cart-table tr {
        border: 1px solid #ccc;
    }
    .cart-table .prod-img {
        text-align: center !important;
    }
    .cart-table .prod-img img {
        width: 100px;
        margin-bottom: 1rem;
    }
    .cart-table .image img {
        width: 100%;
        margin-bottom: 1rem;
    }
    .cart-table .prod-img div {
        margin-left: 0 !important;
    }
    .cart-table td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        white-space: normal;
        text-align: center;
    }

    .cart-table td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        word-wrap: break-word;
        text-align: left;
        font-weight: bold;
    }
    .cart-table td:before {
        content: attr(data-title);
    }
    div.prv {
        max-height: 25vh !important;
    }

    .preview-pic img {
        max-width: 100%;
        height: 100%;
        margin: auto !important;
    }
    .preview-thumbnail li {
        width: 20% !important;
        height: auto;
    }

    .preview-thumbnail img {
        width: 100% !important;
        height: 5vh !important;
    }
}

@media only screen and (max-width: 450px) {
    .vertical-nav {
        width: 100vw;
    }
    .preview-pic img {
        max-width: 100%;
        height: 100%;
        margin:auto !important;
    }
    #sidebar.active {
        margin-left: -50rem;
    }

    .preview-thumbnail li {
        width: 20% !important;
        height: auto;
    }

    .preview-thumbnail img {
        width: 100% !important;
        height: 5vh !important;
    }

    div.prv {
        height: 25vh !important;
    }
    .details {
        padding: 0.8rem !important;
        text-align: center !important;
    }
    .details button {
        padding: 0.5rem !important;
        text-align: center !important;
        max-width:90%;
        margin:auto;
    }
    .all {
        padding:0.5rem !important;
    }
    .prod-opts {
        float:none !important;
    }
}
